@import url(https://fonts.googleapis.com/css?family=Arimo:400,700);
#ext_menu-3 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-3.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-3 .mbr-navbar__section {
  background: #000000;
}
#ext_menu-3 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-3 .mbr-brand__name a {
  font-size: 18px;
}
#features1-s P {
  color: #f7da64;
  text-align: center;
}
#features1-s .mbr-section__col .mbr-header__text {
  color: #f50696;
}
#features1-t .mbr-section__col .mbr-header__text {
  color: #f7da64;
}
#features1-t P {
  text-align: center;
  color: #f50696;
}
#features1-u .mbr-section__col .mbr-header__text {
  color: #f50696;
}
#features1-u P {
  color: #f7da64;
  text-align: center;
}



#ext_menu-7 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-7.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-7 .mbr-navbar__section {
  background: #000000;
}
#ext_menu-7 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-7 .mbr-brand__name a {
  font-size: 18px;
}
#content5-l .mbr-header .mbr-header__text {
  text-align: center;
  color: #de136e;
  font-size: 30px;
  font-family: 'Arimo', sans-serif;
}
#content5-l .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-l .mbr-article {
  color: #fff;
}
#content5-l .mbr-article P {
  text-align: center;
  font-family: 'Arimo', sans-serif;
  font-size: 18px;
  color: #ffffff;
}
#footer1-n P {
  color: #ffffff;
  text-align: center;
}
#contacts1-o P {
  color: #ffffff;
  text-align: center;
  font-family: 'Arimo', sans-serif;
}
#contacts1-o STRONG {
  color: #ffffff;
}

#content5-r .mbr-header .mbr-header__text {
  text-align: center;
  color: #de136e;
}
#content5-r .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-r .mbr-article {
  color: #fff;
}
#content5-r .mbr-article P {
  color: #f7da64;
  font-family: 'Arimo', sans-serif;
}
#ext_menu-g .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-g.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-g .mbr-navbar__section {
  background: #000000;
}
#ext_menu-g .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-g .mbr-brand__name a {
  font-size: 18px;
}
#form1-i .mbr-header__text {
  color: #de136e;
}
#footer1-n P {
  color: #ffffff;
  text-align: center;
}

#ext_menu-1 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-1 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-1 .mbr-brand__name a {
  font-size: 18px;
}
#header4-2 H1 {
  color: #ffffff;
  font-family: 'Arimo', sans-serif;
  font-size: 46px;
}
#footer1-n P {
  color: #ffffff;
  text-align: center;
}
#ext_menu-v .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-v.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-v .mbr-navbar__section {
  background: #000000;
}
#ext_menu-v .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-v .mbr-brand__name a {
  font-size: 18px;
}
#msg-box4-w .mbr-header__text {
  color: #f7da64;
}
#msg-box4-w .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-w .mbr-article {
  color: #ffffff;
}
#msg-box4-w .mbr-article P {
  color: #f50696;
}
